h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-size: 14px;
    margin-top: 0px;
    color: grey;
}

h3 {
    font-size: 20px;
}

tr {
    border: 1px solid grey;
}

tr:hover:not(.spacerRow) {
    border: 1px solid grey;
}

tr.highlighted {
    background-color: rgba(109, 116, 75, 0.5);
}

.padding {
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    display: contents;
}


.item {
    border: 1px solid #ccc;
}

#tableInfo {
    font-size: 12px;
}

span {
    padding: 0 0 0 10px;
}

.dateRowCell {
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.dateRow {
    margin: 100px;
    font-weight: 500;
    outline: 1px solid black;
}

.spacerRow {
    height: 20px;
}