h1 {
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-size: 14px;
    margin-top: 0px;
    color: grey;
}

h3 {
    font-size: 20px;
}


.padding {
    padding: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    display: contents;
}


.item {
    border: 1px solid #ccc;
}

#tableInfo {
    font-size: 12px;
}