.location {
    padding: 0 10px 0 10px;
    margin: 2px;
    color: grey;
    user-select: none;
}

#toggleAllLocations {
    user-select: none;
    padding: 5px 10px 5px 10px;
}

.location.selected {
    color: green;
    background: lightgreen;
    font-weight: 800;
}

.location.deselected {
    color: grey;
}

.workout {
    padding: 0 10px 0 10px;
    margin: 2px;
    color: grey;
    user-select: none;
}

.workout.selected {
    color: green;
    background: lightgreen;
    font-weight: 800;
}

.workout.deselected {
    color: grey;
}

#save {
    font-size: 20px;
    padding: 0 6px;
    border-radius: 4px;
    background-color: lightblue;
    border: 1px solid black;
    user-select: none;
}