<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>club lime classes</title>
</head>

<body>
  <h1>club lime classes</h1>
  <h5><i>not affiliated with club lime in any way - class info sourced from https://www.clublime.com.au/classes/ - made
      by elksim</i>
  </h5>
  <table border="1">
    <thead>
      <tr>{{range .TableHeaders}}<th>{{.}}</th>{{end}}</tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script>
    let classes = {{ .Classes }};
    let workouts = {{ .Workouts }};
    let locations = {{ .Locations }};
  </script>
  <script type="module" src="/static/index.js"></script>
</body>

</html>