<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>club lime classes</title>
  <style> {{ .Style }} </style>
</head>

<body>
  <div class="container">
    <h1 class="item">club lime classes</h1>
    <h2 class="item"><i>
        Not affiliated with club lime in any way.<br />
        classes shown may be cancelled or full (for now)<br />
        class info from https://www.clublime.com.au/classes/<br />
        made by elksim<br />
      </i>
    </h2>
    <div><a href="/settings/">settings</a></div>
    <div class="padding"></div>
    <div id="tableInfo"></div>
    <div id="emptyTableMessage" hidden>go to settings and select some locations and workouts that you're interested in.
    </div>
    <table>
      <thead>
        <tr>{{range .TableHeaders}}<th>{{.}}</th>{{end}}</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script>
      const classes = {{ .Classes }};
      const workouts = {{ .Workouts }};
      const locations = {{ .Locations }};
    </script>
    <script type="module"> {{ .Script }} </script>
  </div>
</body>

</html>